<!-- Web.Config Configuration File -->
<configuration>
  <connectionStrings>
    <add name="dnaPrint" connectionString="Data Source=10.85.1.5;Initial Catalog=csfdigital;Persist Security Info=True;User Id=Usercsfdigital;Password=cSfd1g1tal12" providerName="System.Data.SqlClient" />
    <add name="Disparos" connectionString="Data Source=10.85.1.5;Initial Catalog=csfdigital;Persist Security Info=True;User Id=Usercsfdigital;Password=cSfd1g1tal12" providerName="System.Data.SqlClient" />
  </connectionStrings>
	<system.web>
		<customErrors mode="Off" />
		<compilation debug="true" />
        <authentication mode="Windows" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Disparos.asmx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
